body {
  position: relative;
  background: #fff;
}
#container {
   position: fixed;
   top: 50%;
   margin-top: -60px;
   left: 0;
   width: 100%;
}
#content {
   width: 320px;
   margin-left: auto;
   margin-right: auto;
   height: 120px;
   text-align: center;
   font-size: 18px;
   color: #333;
}
header {
  background: linear-gradient(36deg, #1573ca, #0389ff);
  margin: 0;
  padding: 12px 16px;
  position: fixed;
  top: 0;
  height: 60px;
  width: 100%;
  font-size: 32px;
  color: #fff;
}
menu {
  margin: 0;
  padding: 0;
  background: #eee;
  position: fixed;
  top: 60px;
  width: 30%;
  left: 0;
  bottom: 72px;
}
menuitem {
  display: block;
  height: 42px;
  line-height: 42px;
  opacity: 0.5;
  transition: 0.2s;
  cursor: pointer;
  padding-left: 12px;
}
menuitem:hover {
  opacity: 1;
  padding-left: 16px;
}
section {overflow:auto;
  margin: 0;
  padding: 0;
  background: #fff;
  position: fixed;
  left: 30%;
  right: 0;
  bottom: 72px;
  top: 60px;
}
footer {
  margin: 0;
  padding: 0;
  background: #ddd;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 72px;
}
